<a href="https://colab.research.google.com/github/mtcorreia/CI_AI_ADS/blob/main/Aula_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Acessando Banco de Dados com Python.
19 de Abril de 2024.

In [ ]:
 # Remove o arquivo com banco de dados SQLite (caso existe).
import os
os.remove("escola.db") if os.path.exists("escola.db") else None

In [ ]:
# Importando o módulo de acesso ao SQLite.
import sqlite3

In [ ]:
# Criar uma conexão com o banco de dados.
# Se o banco de dados não existir, ele é criado neste momento.
con = sqlite3.connect('escola.db')

In [ ]:
# Checando a tipagem do 'con'.
type(con)

sqlite3.Connection

In [ ]:
# Criando um cursor.
# O cursor está para um banco de dados assim como um ponteiro está para a programação.
# Lista duplamente encadeada.
# Um cursor permite percorrer todos os registros em um conjunto de dados.
cur = con.cursor()

In [ ]:
# Checando a tipagem do 'cur'.
type(cur)

sqlite3.Cursor

In [ ]:
# Criando uma instrução SQL.
sql_create = 'CREATE TABLE cursos '\
'(id integer primary key, '\
'titulo varchar(100), '\
'categoria varchar(100))'

In [ ]:
# Executando a instrução SQL no cursor.
cur.execute(sql_create)

In [ ]:
# Criando outra sentença SQL para inserir registros.
sql_insert = 'INSERT INTO cursos VALUES (?, ?, ?)'

In [ ]:
# Dados.
recset = [(1000, 'Ciência de Dados', 'ADS'),
          (1001, 'Python', 'Redes'),
          (1002, 'Desenho Artístico', 'Design')]

In [ ]:
# Inserindo todas as linhas ao mesmo tempo.
for rec in recset:
  cur.execute(sql_insert, rec)

In [ ]:
# Grava as transações no Banco de Dados.
con.commit()

In [ ]:
# Criando outra sentença SQL para consulta.
sql_select = 'SELECT * FROM cursos'
cur.execute(sql_select)
dados = cur.fetchall()

In [ ]:
# Leitura dos dados com print personalizado.
print('CURSOS: \n')
for linha in dados:
  print('ID: %d, Título: %s, Categoria: %s' % linha)

CURSOS:

ID: 1000, Título: Ciência de Dados, Categoria: ADS
ID: 1001, Título: Python, Categoria: Redes
ID: 1002, Título: Desenho Artístico, Categoria: Design

In [ ]:
# Leitura dos dados sem print personalizado.
for linha in dados:
  print(linha)

(1000, 'Ciência de Dados', 'ADS')
(1001, 'Python', 'Redes')
(1002, 'Desenho Artístico', 'Design')

In [ ]:
# Gerando mais registros.
recset = [(1003, 'Inteligência Artificial', 'ADS'),
          (1004, 'Java', 'Redes'),
          (1005, 'Pintura à óleo', 'Design')]

# Inserindo todas as linhas ao mesmo tempo.
for rec in recset:
  cur.execute(sql_insert, rec)

# Grava as transações no Banco de Dados.
con.commit()

In [ ]:
# Criando outra sentença SQL para consulta.
sql_select = 'SELECT * FROM cursos'
cur.execute(sql_select)
dados = cur.fetchall()

# Leitura dos dados com print personalizado.
print('CURSOS: \n')
for linha in dados:
  print('ID: %d, Título: %s, Categoria: %s' % linha)

CURSOS:

ID: 1000, Título: Ciência de Dados, Categoria: ADS
ID: 1001, Título: Python, Categoria: Redes
ID: 1002, Título: Desenho Artístico, Categoria: Design
ID: 1003, Título: Inteligência Artificial, Categoria: ADS
ID: 1004, Título: Java, Categoria: Redes
ID: 1005, Título: Pintura à óleo, Categoria: Design

In [ ]:
# Fechando a conexão.
con.close()