<a href="https://colab.research.google.com/github/mtcorreia/CI_AI_ADS/blob/main/Aula_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LISTAS - Revisão

In [ ]:
# Criando uma lista.
listaMercado = ["ovos, sardinha, pão, aipim"]

print(listaMercado)

In [ ]:
lista1 = [12, 100, "SENAC"]

item1 = lista1[0]
item2 = lista1[1]
item3 = lista1[2]

print(item1, item3)

In [ ]:
del lista1[2]

print(lista1)

In [ ]:
# Lista de listas ou listas aninhadas.

listas = [[1, 2, 3], [10, 15, 20], [10.1, 15.4, 19.7]]

listas

In [ ]:
a = listas[0]
a

In [ ]:
b = a[0]
b

In [ ]:
# Operador IN
print(listas[0])
print(2 in listas[0])
print(10 in listas[0])

In [ ]:
# Função LEN
print(len(listas[0]))

In [ ]:
# Função MIN e MAX **
print(listas)
print(min(listas[0]))
print(max(listas[0]))
print()
print(min(listas))
print(max(listas))

In [ ]:
# Função COUNT (retorna a quantidade de vezes que o valor aparece)
listas[0].count(2)

In [ ]:
# Função APPEND
listas.append([6, 7, 8])
listas

In [ ]:
# Função EXTEND (injeta dados por último)
cidades = ['Recife', 'Manaus', 'Salvador']
cidades.extend(['Fortaleza', 'São Paulo'])
cidades

In [ ]:
# Função INSERT (passe o índice onde entrara o dado)
cidades.insert(3, 'Rio de Janeiro')
cidades

In [ ]:
# Função REMOVE (remoção sem índice [busca pelo dado que é passado])
cidades.remove('Rio de Janeiro')
cidades

In [ ]:
# Função REVERSE (inverte a lista)
cidades.reverse()
cidades

In [ ]:
# Função SORT (ordenação crescente [por STRING é em ordem alfabética])
cidades.sort()
cidades

# DICIONÁRIO - Revisão

In [ ]:
dicionario_de_estudantes = {'Maria':15, 'João':20, 'José':25}
dicionario_de_estudantes

In [ ]:
# Função CLEAR
dicionario_de_estudantes.clear()
dicionario_de_estudantes

In [ ]:
len(dicionario_de_estudantes)

In [ ]:
# Função KEYS
dicionario_de_estudantes.keys()

In [ ]:
# Função VALUES
dicionario_de_estudantes.values()

In [ ]:
# Função UPDATE (faz o merge dos dicionários)
dicionario_de_estudantes2 = {'Clayton': 46}
dicionario_de_estudantes.update(dicionario_de_estudantes2)
dicionario_de_estudantes

In [ ]:
dicionario_de_estudantes['João']

In [ ]:
dicionario_de_estudantes3 = {1: ['Maria', 15, 'Av. Brasil 1000'], 2: ['Matheus', 24, 'Av. Brasil 1001'], 3: ['João', 30, 'Av. Brasil 1002']}
dicionario_de_estudantes3[1]